

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue light';
    src: url('../fonts/HelveticaNeue Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body{
  width: auto;
  background-color: black;
  font-family: 'Helvetica Neue', sans-serif;
  color:white;
  text-align: center;
  }

p{
  padding: 0;
  margin:0.5%;
}
span#ligne12{
  background-color: #F24A66;
}

span#ligne1,
span#ligne12{
  border-bottom: solid 1px white;
  /*font-weight:bold;*/
  font-size: 1.8rem;
  padding-bottom: 0.5%;
}

span#chevron{
  padding-top: 5%;
  padding: 0;
  font-weight: lighter;
  font-size: 2.3rem;
}

span#ligne2{
  font-family: 'Helvetica Neue light', sans-serif;
  color:#8c8c8c;
  font-size: 1rem;
  letter-spacing: 1.8rem;
  padding-left: 1.45rem;
}

div.logo{

  display:flex;
  flex-direction: column;
  align-items: center;
}
